<html lang='fr'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>API pour l'application Classify</div>
    <p>
      Sélectionner un fichier audio et le pouvoir de l'intelligence artificielle va vous spécifiez le genre parmis les suivants : l'électronique, l'expérimental, le folk, le hip-hop, l'instrumental, l'international, le pop et le rock.
    </p>
    <p>
      Veuillez prendre note que la librairie Librosa est affreusement lente et une prédiction peut prendre plusieurs dizaines de secondes pour un fichier audio assez volumineux.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='audio/*'
               onchange='showPicked(this)'>
      </div>
      <!-- Bouton pour sélectionner un fichier audio -->
      <button class='choose-file-button' type='button' onclick='showPicker()'>Sélectionner un fichier audio</button>
      <div class='upload-label'>
        <label id='upload-label'>Aucun fichier sélectionner</label>
      </div>
      <!-- Bouton pour analyser un fichier audio -->
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyser</button>
      </div>
      <!-- Retour du genre du fichier audio -->
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
